<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>YYKit</key>
			<dict>
				<key>date</key>
				<date>2016-12-23T07:11:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>YYKit</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>YYKit</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>annotationsAreShown</key>
	<true/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>file://~/Library/Application%20Support/Dash/DocSets/C/C.docset/Contents/Resources/Documents/output/en/c/language/sizeof.html#Literals</string>
			<key>platformImagePath</key>
			<string>c</string>
			<key>title</key>
			<string>sizeof operator</string>
			<key>typeImagePath</key>
			<string>Guide</string>
		</dict>
		<dict>
			<key>path</key>
			<string>file://~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset/Contents/Resources/Documents/documentation/Cocoa/Conceptual/Multithreading/Introduction/Introduction.html</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>Threading Programming Guide</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hczgM2E64S</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetReader</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcqvmKDPKn</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetImageGenerator</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcyrrGMJz5</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetExportSession</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcH7O7aomj</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetDownloadURLSession</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcwBwkidWB</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetDownloadTask</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcODxEgJlq</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetCache</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcYyaND3dQ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAsset</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>file://~/Library/Application%20Support/Dash/DocSets/C/C.docset/Contents/Resources/Documents/output/en/c/program/exit.html</string>
			<key>platformImagePath</key>
			<string>c</string>
			<key>title</key>
			<string>exit</string>
			<key>typeImagePath</key>
			<string>Function</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcaaSQB-zB#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>XCTest</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcv0sGqIkR#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureFileOutputRecordingDelegate</string>
			<key>typeImagePath</key>
			<string>Protocol</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1390808&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureFileOutputDelegate</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hci2bJNk5f#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureFileOutput</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1388368&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureInputPort</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1386602&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureInput</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcEEHU9ODK#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureDeviceInput</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>https://www.google.co.jp/search?q=apple+AVCaptureMovieFileOutput&amp;gws_rd=cr&amp;ei=LxRvWLacOcPo0gTc-ZH4Dw</string>
			<key>platformImagePath</key>
			<string></string>
			<key>title</key>
			<string>File not found</string>
			<key>typeImagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hchs3BlEPL#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureDevice</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1624058&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>PHAssetChangeRequest</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcCUlgsnaF#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>PHAssetCreationRequest</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcswzCrt_0</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>PHPhotoLibrary</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1613732&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>Photos</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hc1fEkKpHr#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCapturePhotoCaptureDelegate</string>
			<key>typeImagePath</key>
			<string>Protocol</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcL3NkF6wD#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCapturePhotoSettings</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcKoFfStfV#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureVideoPreviewLayer</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hchT_62A4O#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureSession</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcsz57YexF#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCapturePhotoOutput</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcMbcYoZiD#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVMutableAudioMix</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>file://~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset/Contents/Resources/Documents/documentation/DeveloperTools/Conceptual/testing_with_xcode/chapters/01-introduction.html#//apple_ref/doc/uid/TP40014132</string>
			<key>platformImagePath</key>
			<string>Dash</string>
			<key>title</key>
			<string>Testing with Xcode</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>file://~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset/Contents/Resources/Documents/documentation/AudioVideo/Conceptual/AVFoundationPG/Articles/00_Introduction.html</string>
			<key>platformImagePath</key>
			<string>Dash</string>
			<key>title</key>
			<string>AVFoundation Programming Guide</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcfRXwco8k#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureConnection</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hc6yOD4aUe#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureOutput</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcrrNWnNL6#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVCaptureInput</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcOn9yDrEf#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>MPMediaItemPropertyAssetURL</string>
			<key>typeImagePath</key>
			<string>Constant</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcVVo8zpWJ#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>MPMediaQuery</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcqGtH-9Ms#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>ALAssetsLibrary</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcg3SPJ-Lq#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVMutableComposition</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcyd3P4TqE#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVURLAsset</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcqvmKDPKn#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAssetImageGenerator</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcYyaND3dQ#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAsset</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcPTJ3y6oa#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAudioSession</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hc5a3KH-de#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAudioRecorder</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcdUfp-azH#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>AVAudioPlayer</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcV_VpFlbo#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIImagePickerController</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>file://~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset/Contents/Resources/Documents/documentation/Cocoa/Conceptual/ObjCRuntimeGuide/Introduction/Introduction.html#//apple_ref/doc/uid/TP40008048</string>
			<key>platformImagePath</key>
			<string>Dash</string>
			<key>title</key>
			<string>Guide/Runtime +1</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=tc1657527</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>API/Runtime +1</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>file://~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset/Contents/Resources/Documents/documentation/General/Conceptual/Devpedia-CocoaApp/TargetAction.html#//apple_ref/doc/uid/TP40009071-CH3</string>
			<key>platformImagePath</key>
			<string>Dash</string>
			<key>title</key>
			<string>Target-Action</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcjVj4h-wP#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSInvocation</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcVaEW_Y75#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIGestureRecognizer</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcdMNkqZV4#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIBarButtonItem</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1613147&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>Core Graphics</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hc-I2UtavK#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIBezierPath</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcJE5yY11p#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIFontDescriptor</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcQQiy1kjA#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSFileManager</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1614525&amp;language=occ&amp;usr=c%3Aobjc%28pl%29UITextInput</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UITextInput</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcfkjoOZkS#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIControl +1</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cocoa DocSets/YYKit/com.cocoadocs.yykit.YYKit.docset</key>
			<string>yykit</string>
			<key>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</key>
			<string>ios</string>
			<key>~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset</key>
			<string>guide</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-18T08:02:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2016-12-10T08:36:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2016-12-10T08:38:39Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>homepage</key>
			<string>dash-apple-api://load?index_page=1</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>The "Browse Documentation" navigator tab is selected</string>
					<key>identifier</key>
					<string>documentation</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array/>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>The "All Snippets" navigator tab is selected</string>
					<key>identifier</key>
					<string>snippets</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The "Snippet Tags" navigator tab is selected</string>
					<key>identifier</key>
					<string>tags</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>YYKit</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
