<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>YYKit</key>
			<dict>
				<key>date</key>
				<date>2016-12-23T07:11:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>YYKit</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>YYKit</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>annotationsAreShown</key>
	<false/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>file://~/Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.docset/Contents/Resources/Documents/documentation/General/Conceptual/Devpedia-CocoaApp/TargetAction.html#//apple_ref/doc/uid/TP40009071-CH3</string>
			<key>platformImagePath</key>
			<string>Dash</string>
			<key>title</key>
			<string>Target-Action</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcVaEW_Y75#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIGestureRecognizer</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcdMNkqZV4#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIBarButtonItem</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1613147&amp;language=occ</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>Core Graphics</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hc-I2UtavK#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIBezierPath</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcJE5yY11p#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIFontDescriptor</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcQQiy1kjA#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSFileManager</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?topic_id=1614525&amp;language=occ&amp;usr=c%3Aobjc%28pl%29UITextInput</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UITextInput</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=hcfkjoOZkS#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>UIControl+1</string>
			<key>typeImagePath</key>
			<string>Class</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cocoa DocSets/YYKit/com.cocoadocs.yykit.YYKit.docset</key>
			<string>yykit</string>
			<key>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</key>
			<string>ios</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-18T08:02:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2016-12-10T08:36:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2016-12-10T08:38:39Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>homepage</key>
			<string>dash-apple-api://load?index_page=1</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>The "Browse Documentation" navigator tab is selected</string>
					<key>identifier</key>
					<string>documentation</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array/>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>The "All Snippets" navigator tab is selected</string>
					<key>identifier</key>
					<string>snippets</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The "Snippet Tags" navigator tab is selected</string>
					<key>identifier</key>
					<string>tags</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>YYKit</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
